@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #fbecde;
  --color-primary-500: #f8d9bd;
  --color-primary-600: #f0b27a;
  --color-primary-700: #e67e22;
  --color-primary-800: #d2711b;
  --color-primary-900: #be6517;
}

@custom-variant dark (&:where(.dark, .dark *));
